* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #5D402E;
    padding-top: 118px;
    border-left: #101010;
}

body::-webkit-scrollbar{
    width: 15px;
    background-color: #FFF3B0;
}

body::-webkit-scrollbar-thumb{
    background: #5D402E;
    border: double;
    border-color: #BF6930;
    border-radius: 20px;
}


/*Encabezado*/
header {
    z-index: 1;
    position: fixed;
    top: 0%;
    display: block;
    background-color: #5D402E;
    height: 80px;
    width: 100%;

}

header img {
    position: relative;
    display: inline;
    width: 150px;
    height: 100%;

}

header h1 {
    font-family: "Montserrat", sans-serif;
    position: relative;
    left: 30%;
    bottom: 23px;
    display: inline;
    font-size: 45px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    color: #ff6600;
}

/*Barra de navegación*/
nav {
    z-index: 1;
    position: fixed;
    top: -5px;
    width: 100%;
    display: block;
    background-color: #BF6930;
    border-top: 5px ridge #333333;
    border-bottom: 5px ridge #333333;
    margin-top: 85px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    font-size: larger;
    float: left;
    border-right: 2px ridge #333333;
    padding: 5px 0px;
}

nav ul li a {
    font-family: "Nunito", Sans-serif;
    color: #333333;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    margin: 0px 10px;
}

nav ul li:hover {
    background-color: #FF8A50;
}

section article {
    overflow: hidden;
    position: relative;
    left: 27%;
    background-color: #FFF3B0;
    text-align: center;
    color: #BF6930;
    width: 738px;
    padding-bottom: 20px;
    height: 1300px;
}

section article h2 {
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    font-size: 40px;
}

section article p {
    font-family: "Alegreya", serif;
    margin-bottom: 20px;
    font-size: 25px;
}

.formulario {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    background-color: #BF6930;
    padding: 0px;
    width: 100%;
    height: 625px;
    padding: 5px;
    color: #FFF3B0;

}

label {
    font-size: larger;
}

.formulario input {
    background-color: #FFF3B0;
    width: 98%;
}

textarea {
    background-color: #FFF3B0;
}

.formulario .etiqueta {
    position: relative;
    left: 45%;
    width: 10%;
    border: 2px solid #333333;
    margin-top: 5px;
}

.formulario .etiqueta input {
    background-color: #FFBA50;
    width: 100%;
    height: 35px;
}

.formulario .etiqueta input:hover {
    background-color: #FF8A50;
}


section article img {
    border: #BF6930 ridge 3px;
    width: 60%;
    height: 300px;
}

/*Pie de pagina*/

footer {
    background-color: #101010;
    height: 93px;
    padding-top: 10px;
}

footer h1 {
    font-family: "Montserrat", sans-serif;
    color: #F9F9F9;
    text-align: center;
    margin: 0px, 10px;
}

footer ul {
    margin-top: 20px;
}

footer ul li {
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    border-right: 2px #F9F9F9 solid;
    color: #F9F9F9;
    display: inline;
}